influxdb/flows.json
[
    {
        "id": "af619754e74d8eb1",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "92e32427b3eee924",
        "type": "mqtt in",
        "z": "af619754e74d8eb1",
        "name": "",
        "topic": "angamed/tanque1/datos",
        "qos": "0",
        "datatype": "utf8",
        "broker": "9d4fd51f63c9acda",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "54a8218e9438f8de",
                "55cb255f6bece70a"
            ]
        ]
    },
    {
        "id": "54a8218e9438f8de",
        "type": "json",
        "z": "af619754e74d8eb1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "3817827c76ad225e"
            ]
        ]
    },
    {
        "id": "5e6e793939a4c492",
        "type": "influxdb out",
        "z": "af619754e74d8eb1",
        "influxdb": "1206661fdc814470",
        "name": "",
        "measurement": "lecturas_tanque1",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1070,
        "y": 280,
        "wires": []
    },
    {
        "id": "3817827c76ad225e",
        "type": "function",
        "z": "af619754e74d8eb1",
        "name": "function 1",
        "func": "msg.payload = [\n    { \"ph\": msg.payload.ph, \"temp_agua\": msg.payload.temp_agua },\n    { \"device_id\": msg.payload.device_id }\n];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 300,
        "wires": [
            [
                "5e6e793939a4c492"
            ]
        ]
    },
    {
        "id": "55cb255f6bece70a",
        "type": "debug",
        "z": "af619754e74d8eb1",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 200,
        "wires": []
    },
    {
        "id": "9d4fd51f63c9acda",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1206661fdc814470",
        "type": "influxdb",
        "hostname": "influxdb3-core",
        "port": "8181",
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb3-core:8181",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "38ffbdb3cbc80fcd",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0"
        }
    }
]